<h2>LOGISTICS</h2>

<div class="form-group">
    <label for="cars">How many cars will be bringing your goods to market?</label>
    <input type="number" id="cars" class="form-control" ng-model="formData.cars">
</div>

<label>
    Are you bringing a trailer?
    <input type="checkbox" id="trailer" class="form-control" ng-model="formData.trailer">
</label>

<h3>Access for Setting Up and Packing Up</h3>
You will be fully informed of the designated set up/pack up times, access and parking for your site as the date
approaches. We kindly request you adhere to the designated times to ensure a smooth flow on the day.


<h3>Parking</h3>
You will be required to bring your stall items from your personal transport at the gate, to your designated site.
We will have a designated parking area for all stall holders, to free up street parking close to the venue for
market
goers. You will be notified of this location closer to the date. It will be a short distance, although it will
require you to
walk back to the venue.

<h3>What equipment do I need?</h3>
Gazebo: You are required to bring a gazebo for your stall. If you do not have a gazebo, you can purchase one at
Bunnings for less than $30, or you could ask a friend, neighbour or relative if you can borrow one for the day. If
this
is a concern, please get in touch and we will try and help.
Display: To maximise your profits it’s all about presentation! Please consider bringing display tables, table cloths
(with weights), using price tags and signs. Please note: Gazebos, tables etc. and sale items must not encroach
outside your designated area. Please ensure you check the dimensions before booking your site. All items must
be neatly displayed in your area with no rummage boxes or goods piled high.

<h3>Is there access to power?</h3>
No. All stall holders will be located on the oval in market style row format.

<h3>Wet weather</h3>
We endeavour to go ahead with the Market Day on Saturday November 5th at 1pm.
If the weather is exceptionally bad, a decision will be made by 12 noon and you will be notified via a text
message and on Facebook.
If cancellation on the Saturday is unavoidable, the following day, Sunday November 6th at 1pm, will be our back
up option.
If a weather front ensures we have to cancel both dates, then the market will be rescheduled for Saturday 19th
November at 1pm.

<p>
    Please indicate your availability by ticking the boxes if you can attend these dates:
</p>

<div class="form-group row">
    <div class="col-xs-6 col-xs-offset-3">
        <a ui-sref="form.terms-and-conditions" class="btn btn-block btn-info">
            Next <span class="glyphicon glyphicon-circle-arrow-right"></span>
        </a>
    </div>
</div>